body {
  background-color: #0d192b;
  height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.card {
  background-color: #14253d;
  height: 40rem;
  width: 20rem;
  padding: 1.2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start; }
  .card .card--image a {
    display: block;
    position: relative; }
    .card .card--image a img {
      width: 100%;
      border-radius: 1rem; }
    .card .card--image a:hover::before {
      content: "";
      background: #00fff7;
      opacity: 50%;
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 1rem; }
    .card .card--image a:hover::after {
      content: url(../../../images/icon-view.svg);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  .card .card--content h1 {
    font-size: 1.5rem;
    font-weight: 600; }
    .card .card--content h1 a {
      text-decoration: none;
      color: white; }
      .card .card--content h1 a:hover {
        color: #00fff7; }
  .card .card--content > p {
    color: #8bacda;
    font-weight: 300; }
  .card .card--line {
    height: 1px;
    background-color: #2f415b;
    width: 100%; }
  .card .card--author {
    display: flex;
    align-items: center; }
    .card .card--author img {
      border: 2px solid white;
      border-radius: 50%;
      height: 1.6rem;
      margin-right: 1rem; }
    .card .card--author p a {
      color: white;
      text-decoration: none; }
      .card .card--author p a:hover {
        color: #00fff7; }
    .card .card--author p span {
      color: #8bacda; }

.card .card--content .card--content--info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }
  .card .card--content .card--content--info .card--content--info--price {
    display: flex;
    align-items: center; }
    .card .card--content .card--content--info .card--content--info--price img {
      margin-right: 0.5rem;
      font-weight: 300;
      width: 1rem;
      height: 1rem; }
    .card .card--content .card--content--info .card--content--info--price p {
      font-weight: 400;
      color: #00fff7; }
  .card .card--content .card--content--info .card--content--info--time {
    display: flex;
    align-items: center; }
    .card .card--content .card--content--info .card--content--info--time img {
      margin-right: 0.5rem;
      font-weight: 300;
      width: 1rem;
      height: 1rem; }
    .card .card--content .card--content--info .card--content--info--time p {
      font-weight: 300;
      color: #8bacda; }
