.card {
    background-color: $dark-blue-card-bg;
    height: 40rem;
    width: 20rem;
    padding: 1.2rem;
    border-radius: 1rem;

    // flex
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    // card--image
    .card--image {
        a {
            display: block;
            position: relative;
            img {
                width: 100%;
                border-radius: 1rem;
            }
            &:hover::before {
                content: "";
                background: hsl(178, 100%, 50%);
                opacity: 50%;
                position: absolute;
                left: 0;
                height: 99%;
                width: 100%;
                border-radius: 1rem;
            }

            &:hover::after {
                content: url(../../../images/icon-view.svg);
                position: absolute;
                left: 50%;
                top: 50%;    
                transform: translate(-50%, -50%);
            }
    }
}

    // card--content
    .card--content {
        h1 {
            
            font-size: 1.5rem;
            font-weight: $fw-600;
            a {
                text-decoration: none;
                color: $white;
                
                &:hover {
                    color: $cyan;
                }
            }
        }
        > p {
            color: $soft-blue;
            font-weight: $fw-300;
        }
    }

    .card--line {
        height: 1px;
        background-color: $dark-blue-line;
        width: 100%;
    }

    .card--author {
        display: flex;
        align-items: center;

        img {
            border: 2px solid $white;
            border-radius: 50%;
            height: 1.6rem;
            margin-right: 1rem;
        }

        p {
            a {
                color: $white;
                text-decoration: none;
                &:hover {
                    color: $cyan;
                }
            }
            span {
                color: $soft-blue;
            }
        }
    }
}

.card .card--content .card--content--info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    // card--content--info--price
    .card--content--info--price {
        display: flex;
        align-items: center;
        img {
            margin-right: 0.5rem;
            font-weight: $fw-300;
            width: 1rem;
            height: 1rem;
        }
        p {
            font-weight: $fw-400;
            color: $cyan;
        }
    }

    // card--content--info--time
    .card--content--info--time {
        display: flex;
        align-items: center;
        img {
            margin-right: 0.5rem;
            font-weight: $fw-300;
            width: 1rem;
            height: 1rem;
        }
        p {
            font-weight: $fw-300;
            color: $soft-blue;
        }
    }
}