.card {
    background-color: $dark-blue-card-bg;
    height: 40rem;
    width: 20rem;
    padding: 1.2rem;
    border-radius: 1rem;

    // flex
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    // card--image
    .card--image {
        img {
            width: 100%;
            border-radius: 1rem;
        }
    }
}